*{
    margin: 0;
    background-color: rgb(251, 249, 249);
}
.head{
    text-align: center;
  
    color: rgb(7, 173, 101);
    padding: 15px;
    
    width: 100%;
    box-shadow: 0 0 10px;
}
.main-block{
   margin-top: 5%;
   text-align: center;
   word-spacing: 60px;
   border: 2px solid white;
   margin-left: 25%;
   margin-right: 25%;
   padding: 50px;
   border-radius: 5px;
   box-shadow: 0px 0px 10px;

  
   
}
img{
    width: 200px;
}
.btn{
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: black;
}
.btn:hover{
    cursor: pointer;

}
body{
        background-color: rgb(7, 173, 101);
    height: 100vh;
}